<!-- Master card: front
     ==================

     We try to keep all cards similar(ish), so most elements are shared
     between each card, but some sections apply to only one card. We use a
     bit of a hybrid between ECSS naming conventions, and GPS global, section,
     page elements.

     See data cards for our Anki form fields, where you'll see each of the
     variations per card, and be able to perform Pandoc conversions.

     The only thing that isn't flexible is the `id="front"` and `id="answer"`
     ids, which aren't quite page level elements, but allow Anki to "skip"
     to the correct part of the template on the card answer reveal.

     Wherever global styles can be turned into raw HTML and placed in `partials`
     they should be.

-->

<div id="front">
  <section id="CARD-TYPE" class="gl-Card">
    <header class="gl-Card_Header">
      <h1>{{★ Title}}</h1>
      {{#☆ Subtitle}}
        <h2>{{☆ Subtitle}}</h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p><code>{{☆ Syntax (inline code)}}</code></p>
      {{/☆ Syntax (inline code)}}
    </header>
    <div class="gl-CodeBlock">
      {{★ Sample (code block)}}
    </div>
  </section>
</div>
