// Dark theme ==================================================================
// Monokai dark

pre,
pre code,
pre .hljs {
  margin-bottom: 0;
  text-align: left;
  color: $color.theme.dark.base;
  background: $color.theme.dark.background;
}

pre code b, pre code strong { color: $color.theme.dark.op;  }
pre code i, pre code em     { color: $color.theme.dark.int; }
pre code s, pre code u      { color: $color.theme.dark.str; }
pre code span, pre code sup { color: $color.theme.dark.key; }
pre code var, pre code sub  { color: $color.theme.dark.var; }
pre code small              { color: $color.theme.dark.comment; }

pre code q                  { color: $color.theme.dark.lowlight;  }
pre code mark               { color: $color.theme.dark.highlight; }
