// Light theme =================================================================
// Tomorrow light (modified) for inline code

code {
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: $color.theme.light.background;

  &:empty {
    margin: 0;
    padding: 0;
    background: transparent;
    border-color: transparent;
  }
}

code i, code em,
code b,code strong,
code sup, code sub, code var, code small,
code s, code u, code q, code mark {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  background: none;
}

code b, code strong { color: $color.theme.light.op;  }
code i, code em     { color: $color.theme.light.int; }
code s, code u      { color: $color.theme.light.str; }
code span, code sup { color: $color.theme.light.key; }
code var, code sub  { color: $color.theme.light.var; }
code small          { color: $color.theme.light.comment; }

code q              { color: $color.theme.light.lowlight;  }
code mark           { color: $color.theme.light.highlight; }
