// -----------------------------------------------------------------------------
// Color variables
// =============================================================================
// > ⚠️ TO DO: re-think `--color-*` variables and design "tokens".
//
// Inherits some colors from `print-first-css`.
//
// 1. `print-first-css` may best remove non-print colors
// 2. Be specific and minimal with color variables
// 3. Use them in the correct place (`-card` styles for cards)
// 4. Find and replace gets tricky if another `-d` or `-l` is added
//     - If in the middle `-ddDdd`, everything needs updated!
// 5. Explicit is better than implicit
//     - Don't nest vars inside other vars where possible
//
//
// Notes
// -----
// 1. Inherits some colors from `print-first-css`.
// 2. Add some card color styles (rather than using `color-l` etc)
// 3. Dark mode colours (replace with `light-dark()` in future)


// 1
--color-code-cloze: #f12056;
--color-code-cloze-background: #ffffcc;


// 2
--color-card-l: #757575;
--color-card-ll: #bdbdbd;
--color-card-lll: #eceff1;
--color-card-llll: #fff;


// 3
--color-nightmode-background-d: #222;
--color-nightmode-background-dd: #272822;
--color-nightmode-background-ddd: #101010;
--color-nightmode-background-dddd: #000;
--color-nightmode-background-l: #bbbbbb;
--color-nightmode-background-ll: #ccc;   // Same as `--color-dd` (print-first)
--color-nightmode-background-lll: #ddd;  // Same as `--color-l`  (print-first)
--color-nightmode-text: #fff;
--color-nightmode-text-light: #eceff1;
--color-nightmode-text-dark: #333;       // Same as `--color-ddd` (print-first)
--color-nightmode-border: #ddd;
--color-nightmode-link: #3daee9;         // Stolen from breezedark!
