// -----------------------------------------------------------------------------
// Monokai variables (deprecated)
// =============================================================================
// Colour pallette: Use the colorize Visual Studio Code plugin to see colours.
// These are far more simplistic than the `breezedark` pallette.
//
// #f8f8f8
// #777777
// #272822
// #fed76f
// #70d8ef
// #aae626
// #a877ff
// #960050
// #f12056
// #ec7b20

--color-code-bold: var(--color-code-dark-palette-09);
--color-code-italic: var(--color-code-dark-palette-07);

--color-code-dark-background: #272822;
--color-code-dark-text-color: #f8f8f8;

--color-code-dark-alert: #960050;
--color-code-dark-annotation: #777777;
--color-code-dark-attribute: #aae626;
--color-code-dark-base-n: #a877ff;
--color-code-dark-built-in: #70d8ef;
--color-code-dark-char: #fed76f;
--color-code-dark-comment: #777777;
--color-code-dark-comment-var: #777777;
--color-code-dark-constant: #70d8ef;
--color-code-dark-control-flow: #70d8ef;
--color-code-dark-data-type: #70d8ef;
--color-code-dark-dec-val: #a877ff;
--color-code-dark-documentation: #70d8ef;
--color-code-dark-error: #960050;
--color-code-dark-extension: yellow;
--color-code-dark-float: #a877ff;
--color-code-dark-function: #aae626;
--color-code-dark-import: yellow;
--color-code-dark-information: #777777;
--color-code-dark-keyword: #f12056;
--color-code-dark-operator: #f12056;
--color-code-dark-other: #aae626;
--color-code-dark-preprocessor: #fed76f;
--color-code-dark-region-marker: #960050;
--color-code-dark-region-marker-background: #777777;
--color-code-dark-special-char: #fed76f;
--color-code-dark-special-string: #fed76f;
--color-code-dark-string: #fed76f;
--color-code-dark-variable: #aae626;
--color-code-dark-verbatim-string: #fed76f;
--color-code-dark-warning: #777777;
