// -----------------------------------------------------------------------------
// Typography variables
// =============================================================================
// > `print-first-css` gives `--system-ui`, `--system-mono`, `--fallback-mono`.
//
// ⚠️ Recursive font
// -----------------
// > @ https://www.recursive.design/
//
// I'm sure there's better fonts than "Recursive": the mono font is really
// nice, but regular can be a tad hard to read. If you dislike it, you can see a
// previous version which uses "DejaVu Sans" for body/header text.
//
// Also see issue #12 for San Francisco font bugs.

--recursive: "Recursive";

// 1
--font-family: var(--recursive), var(--system-ui);
--font-family-header: var(--recursive), var(--system-ui);
--font-family-mono: var(--recursive), var(--system-mono), var(--fallback-mono);
