// Global variables ============================================================
// https://stackoverflow.com/a/29727884
//
// #! stylus bug: http://stylus-lang.com/docs/literal.html

:root 
  @require 'anki-colors'
  @require 'anki-grid'
  @require 'anki-typography'