<!-- Simple card
     ===========

    This is a demo file only. See `themes/cards/simple/*.mustache` for
    card type templates to use in Anki. Our demo requires `{{{ ... }}}`
    triple brackets which Anki does not support!

-->

<div id="front" class="anki-Front">
  <section class="simple simple-front">
    <header class="simple-Header">
      <h1 class="simple-Header_Title">
        {{{★ Title}}}
      </h1>
      {{#☆ Subtitle}}
        <h2 class="simple-Header_Subtitle">
          {{{☆ Subtitle}}}
        </h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p class="simple-Header_Code">
          <code>{{{☆ Syntax (inline code)}}}</code>
        </p>
      {{/☆ Syntax (inline code)}}
    </header>
    <div class="simple-Sample">
      {{{★ Sample (code block)}}}
    </div>
  </section>
</div>
