<!-- Simple card ====

    Demo version copied from `../../cards/simple/simple-...` files

    - requires {{{ ... }}} triple brackets
    - `.json` file requires

===== -->

<div id="front" class="anki-Front">
  <section class="simple simple-front">
    <header class="simple-Header">
      <h1 class="simple-Header_Title">
        {{{★ Title}}}
      </h1>
      {{#☆ Subtitle}}
        <h2 class="simple-Header_Subtitle">
          {{{☆ Subtitle}}}
        </h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p class="simple-Header_Code">
          <code>{{{☆ Syntax (inline code)}}}</code>
        </p>
      {{/☆ Syntax (inline code)}}
    </header>
    <div class="simple-Sample">
      {{{★ Sample (code block)}}}
    </div>
  </section>
</div>
