// -----------------------------------------------------------------------------
// Card styles
// =============================================================================
// > ⚠️ TO DO: Update with thema css and write notes.
//
// Issue #118 on AnkiMobile is a problem. See FAQs.
//
//
// Notes
// -----
// 1. Paragraph tag isn't descriptive enough
//     - Although thema css defaults to raw html
// 2. If a `.gl-*` class is empty ...
//     - Remove it! YAGNI
// 3. See thema css rules on nesting
//
//
// Wishlist
// --------
// 1. ⚠️ Do you have customers yet?
//     - ⚠️ Hold off on unnecessary changes until then!
// 2. Does anyone use this outside of mobile view?
//     - Could use `orientation: portrait` but `max-width` breakpoints
//       are good enough for now.
//     - Landscape view is pretty pointless (hard to read)
// 3. Nightmode could be handled better
//     - @ https://css-tricks.com/almanac/functions/l/light-dark/

.gl-Card {
  background: transparent;
  border-radius: var(--border-radius);
  overflow: hidden;  // Force the border-radius

  .nightMode & {
    color: var(--color-nightmode-text);  // #! Perhaps should live in RAW HTML
    border: 1px solid var(--color-nightmode-border);
  }
}

.gl-Card header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: baseline;
  background: var(--color-card-lll);
  border: var(--spacing-px) solid var(--color-card-lll);
  border-bottom: 1px solid #E5E4E2; // Not ideal when code block
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  .nightMode & {
    background: var(--color-nightmode-background-ddd);
    border: transparent;
  }
}

.gl-Card header h1 {
  flex: 0 0 100%;
  margin: 0 0 var(--spacing-one);
  padding: var(--spacing-half);
  border-bottom: var(--spacing-px) solid var(--color-card-ll);
  background: var(--color-card-llll);

  @media screen and (max-width: 768px) {
    font-size: var(--font-size-p);
  }

  &:only-child {
    margin-bottom: 0;  // #! I think this is if there's no h2?
  }

  &::before {
    content: '★ ';
  }

  .nightMode & {
    background: var(--color-nightmode-background-dddd);
  }
}

.gl-Card header h2 {
  margin: 0 0 var(--spacing-half);
  padding: 0 var(--spacing-half) var(--spacing-half);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  @media screen and (max-width: 768px) {
    font-size: var(--font-size);
  }

  .nightMode & {
    color: var(--color-nightmode-text-light);
  }
}

// 1
.gl-Card header p {
  font-size: var(--font-size-p);
  margin: 0 0 var(--spacing-half) 0;
  padding: 0 var(--spacing-half) var(--spacing-half);

  @media screen and (max-width: 768px) {
    font-size: var(--font-size);
  }
}

// 2
.gl-Card_KeyPoint {
  // pass
}

// 3 #!
.gl-Card_KeyPointNotes {
  margin-bottom: var(--spacing);
  padding: var(--spacing) var(--spacing-one);
  background: var(--color-card-lll);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  text-align: left;

  @media screen and (max-width: 768px) {
    font-size: var(--font-size-m);
  }

  ul, ol {
    margin-left: var(--spacing-one);

    > li {
      margin-left: var(--spacing-one);
    }
  }

  // {{Tags}}
  small {
    color: var(--color-card-l);  // #! This feels wrong to use `-card` var here
    font-variation-settings: 'CRSV' 1, 'slnt' -6; // #!
    margin-top: var(--spacing); // In case no `<p>` above
    text-align: center;
    display: block;
  }

  .nightMode & {
    color: var(--color-nightmode-text-light);
    background: var(--color-nightmode-background-d);
  }
}

.gl-Card footer {
  color: var(--color-card-l);     // #! This feels wrong using `-card` var here
  margin-bottom: var(--spacing);
  padding: 0 var(--spacing-one);
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: var(--font-size-m); // #! Should this be in `/partials/`?
  }

  .nightMode & {
    color: var(--color-card-ll);
  }
}


// Code styles -----------------------------------------------------------------
//
// 1. Removed the colors for "Code Inline"
//     - Bold can still be used for emphasis
//
// We're being a little specific here so that it doesn't fuck up our
// `.gl-CodeBlock` or Skylighting's `.sourceCode span` classes. Our Key Point Notes
// remain monochrome.
//
// #! Should our code styles be here or someplace else?
// #! Both `pre` and `code` need to inherit here for some reason.
//
// Notes
// -----
// 1. #! Should the `header > p > code` have a background?
//     - `background: var(--color-code-light-background);`
//     - `padding: var(--spacing-quarter);` (like `.cloze`)
//
//
// ⚠️ DEPRECATED
// -------------
// > No longer highlighting "Code Inline" field
//
// ```
// b, strong {
//   color: var(--color-code-bold);
// }
//
// i, em {
// color: var(--color-code-italic);
// }
//```

.gl-Card header code {
  background: transparent;

  b, strong,
  i, em {
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  b, strong {
    font-weight: 700; // ⚠️ Could be handled "site wide"
  }

  i, em {
    font-variation-settings: normal; // Overide `slnt` settings
  }

  .nightMode & {
    color: var(--color-nightmode-text);
  }
}

.gl-Card_KeyPointNotes {

  code {
    color: var(--color-ddd);

    .nightMode & {
      color: var(--font-color);
    }
  }

  pre code {
    text-align: left;
    background: transparent;
  }
}

.gl-Card footer code {
  .nightMode & {
    color: var(--font-color);
  }
}
