// -----------------------------------------------------------------------------
// Code block
// =============================================================================
// > Dedicated file for all things ```fenced code``` block.
//
// Extends the files `base/html/code`, `base/variables/breezedark-modified`, and
// `globals/breezedark` (as well as `print-first-css` defaults).
//
//
// Card types
// ----------
// 1. Simple! is just a basic fenced code block
// 2. Missing! requires a cloze field (see `docs/styleguide/index.md`)
//
//
// Screen-size
// -----------
// > Generally set up for mobile view only
// > Helpful to set `editor.rulers` to `"column": 32` in VS Code.
//
// But should work on other devices.
// Better to keep width to `32` characters!
//
//
// Bugs
// ----
// 1. Cloze tags get "clipped" without `code` padding.
//     - Annoyingly AnkiMobile treats `rem` units a bit differently
//     - Compensated the `pre` to fit the `4px` grid (minus 1)


.gl-CodeBlock {

  pre {
    margin: 0;
    padding: calc(var(--spacing) - var(--spacing-micro)) var(--spacing); // #! 1
  }

  pre,
  pre code {
    text-align: left;
    color: var(--color-code-dark-text-color);
    font-family: var(--font-family-mono);
    background: var(--color-code-dark-background);
  }

  code {
    padding: var(--spacing-micro) 0; // #! 1
  }

  @media screen and (max-width: 768px) {
    font-size: var(--font-size-m);
  }
}


// Missing! Card ---------------------------------------------------------------
//
// > Cloze deletion tag required (see `docs/styleguide/index.md`)
//
// 1. Anki sets a `.cloze` tag on deletions
// 2. Chunky spacing makes them easier to spot
// 3. Colours are more punchy with this filter
//     - All `.sourceCode` classes are spans

.gl-CodeBlock .cloze {
  color: var(--color-code-cloze);
  font-weight: 700;
  background: var(--color-code-cloze-background); // 1
  padding:
    calc(var(--spacing-micro) + var(--spacing-px))
    calc(var(--spacing-quarter) + var(--spacing-micro))
    var(--spacing-quarter); // 2
  border-radius: var(--border-radius);

  > span {
    filter: brightness(65%) contrast(220%); // 3
  }
}
