// -----------------------------------------------------------------------------
// Image Block (Draw! card)
// =============================================================================
// > See `base/html/figure` for other styles.
//
//
// New application
// ---------------
// > Will have a full range of media options
//
// In future, there'll be video, images, and potentially other types, making the
// Draw! card much more feature-rich and fun.
//
// ⚠️ Images only!
// ---------------
// > ⚠️ NOT A CODE BLOCK!
// > ⚠️ Currently only accepts images!
//
// This isn't enforced but expected. Will make them much easier to backup and
// reuse in the new application. Images are way easier to generate now, thanks
// to Ai and good tooling.
//
//
// Notes
// -----
//
// 1. Stops `box-shadow` spilling over into "Answer" field
// 2. ⚠️ the `hwb()` function doesn't work in Anki's browser
//    - @ https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/hwb
//    - Simpler color used instead

.gl-ImageBlock {
  background: radial-gradient(circle,rgba(225, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 100%);
  overflow: hidden; // (1)

  @media screen and (max-width: 768px) {
    font-size: var(--font-size-m);
  }

  .nightMode & {
    background: radial-gradient(circle,var(--color-nightmode-background-dddd) 0%, var(--color-nightmode-background-dd) 100%);
  }

  figcaption {
    border-bottom: 1px solid #E5E4E2; // (2)


  }

  img {
    box-shadow: 5px 10px 12px -12px rgba(0, 0, 0, 0.5), -5px 10px 12px -12px rgba(0, 0, 0, 0.5);
  }

  pre {
    margin: 0; // ⚠️ Should this be here?
  }
}
