// -----------------------------------------------------------------------------
// Monochrome Theme
// =============================================================================
// > Inherited from `print-first-css` with some overrides!
//
// ⚠️ See `main.less` WISHLIST for the italics problem.

.sourceCode {
  // Alert
  .al { font-weight: 400; }
  // Annotation
  .an { font-variation-settings: 'CRSV' 1, 'slnt' -6; }
  // Comment
  .co { font-variation-settings: 'CRSV' 1, 'slnt' -6; }
  // CommentVar
  .cv { font-variation-settings: 'CRSV' 1, 'slnt' -6; }
  // ControlFlow
  .cf { font-weight: 400; }
  // Documentation
  .do { font-variation-settings: 'CRSV' 1, 'slnt' -6; }
  // Error
  .er { font-weight: 400; }
  // Information
  .in { font-variation-settings: 'CRSV' 1, 'slnt' -6; }
  // Keyword
  .kw { font-weight: 400; }
  // Preprocessor
  .pp { font-weight: 400; }
  // Warning
  .wa { font-variation-settings: 'CRSV' 1, 'slnt' -6; }
}
