// Notes =================================================================
// It seems I'm basically resetting to a default here, and we're doing the
// heavy lifting of styles within each `themes/cards/*` file.
//
//    #! Should some styles be edited/moved here?
//
// 1. Inherited Light theme as default
// 2. See :root variables for color themes
// 3. Add `--color-code-dark` to the `code block`s!

code,
kbd {
  padding: 0;
  background: transparent;
  border-color: transparent;
  font-variation-settings: 'MONO' 1;

  &:empty {
    margin: 0;
    padding: 0;
    background: transparent;
    border-color: transparent;
  }
}
