// Notes =================================================================
// It seems I'm basically resetting to a default here, and we're doing the
// heavy lifting of styles within each `/gps/` files.
//
//    #! Should some styles be edited/moved here?
//
// 1. Inherited Light theme as default
// 2. See :root variables for color themes
// 3. Add `--color-code-dark` to the `code block`s!
// 4. Inherit `font-size` from parents (setting it here, as it seems like a lot
//    of extra work to style it on every element individually.

code,
kbd {
  padding: 0;
  background: var(--color-ll);
  border-color: transparent;
  padding: var(--spacing-micro) var(--spacing-half);

  font-size: inherit;
  font-variation-settings: 'MONO' 1;  // #! For recursive font only

  &:empty {
    margin: 0;
    padding: 0;
    background: transparent;
    border-color: transparent;
  }
}

pre {
  font-size: inherit;
}
