// Notes =================================================================
// 1. Inherited Light theme as default
// 2. See :root variables for color themes
// 3. Add `--color-code-dark` to the `code block`s!

code,
kbd {
  padding: 0;
  background: transparent;
  border-color: transparent;

  &:empty {
    margin: 0;
    padding: 0;
    background: transparent;
    border-color: transparent;
  }
}
