<!-- Draw! card
     ==========

    - Type: What's the answer?
    - Docs: https://github.com/badlydrawnrob/anki/tree/master/source/docs/draw/index.md
    - Key:  ★ Required
            ☆ Optional (recommended)
            ✎ Optional (notes, markdown)
            ⤷ Field Type

    For now this is basically a clone of `Simple`
    card, with images. I have a few ideas for the
    future that may or may not work, so treat this
    as an experimental card for now. I'll try to not
    make breaking changes but I can't guarantee it.

    See `data-draw.md` for the data you'll use to
    populate the Anki form fields, which you can use
    with Pandoc to compile your data fields.
    See `source/docs/professional/index.md` for info.

-->

<div id="front">  <!-- We probably need a #CARD-TYPE id somewhere -->
  <section class="gl-Card">
    <header>
      <h1>{{★ Title}}</h1>
      {{#☆ Subtitle}}
        <h2>{{☆ Subtitle}}</h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p><code>{{☆ Syntax (inline code)}}</code></p>
      {{/☆ Syntax (inline code)}}
    </header>
    <figure class="gl-ImageBlock">
      {{★ Sample (image)}}
    </figure>
  </section>
</div>
