// -----------------------------------------------------------------------------
// Demo page (`#demo`)
// =============================================================================
// > ⚠️ TO DO: integrate thema css and migrate to newer app?
//
// Mocks up the Anki app for previewing.
//
// 1. Requires JSON in `demo/*` folders
// 2. Requires MOUSTACHE package

body.nightMode {
  // ⚠️ For testing Night Mode (find a better way)
  // background: black;
}

#demo {
  margin: var(--spacing-one);

  @media (min-width: 840px) {
    width: 60%;
    margin: 0 auto;
  }

  .wrapper {
    margin: var(--spacing) 0;
  }

  .top    { margin-bottom: calc(var(--spacing-eight) * 4); }
  .bottom {}  // ⚠️ Tree-shake dead code
}

// 1
#demo .button {
  display: inline-block;
  margin: var(--spacing) 0;
  padding: var(--spacing);
  width: 100%;
  color: inherit;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size-m);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: normal;
  line-height: var(--line-height-half);
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 0 none;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px alpha(#000, 12%), 0 1px 2px alpha(#000, 24%);

  &:hover {
    background-color: #f5f5f5;
  }

  &:active {
    background-color: #e0e0e0;
    box-shadow: 0 3px 6px alpha(#000, 16%), 0 3px 6px alpha(#000, 23%);
  }

  &:active:focus {
    outline: 0 none;
  }

  &:disabled {
    color: var(--color-dd);
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    text-shadow: none;
  }
}

#demo #front   { } // ⚠️ Tree-shake dead code
#demo #reverse { } // ⚠️ Tree-shake dead code
