{{FrontSide}}  {{! Anki only }}

<div id="answer" class="container card-1 pt+">
  <div class="box-code">{{{★ Key point (code block or image)}}}</div>
  <div class="box-notes">{{{★ Key point notes}}}</div>
  <div class="footer mt pb">
    {{#✎ Other notes}}{{{✎ Other notes}}}{{/✎ Other notes}}
  </div>
</div>
