<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cards</title>
    <link rel="stylesheet" href="../../../stylus/main.css">
  </head>
  <body class="gl-Anki">
    <section class="gl-AnkiCard">
      <div class="gl-AnkiCard-Front">
        {{>card-01-front}}
        <a class="gl-AnkiCard-Button" href="#answer">See answer</a>
      </div>
      <div class="gl-AnkiCard-Reverse">
        {{>card-01-front}}
        {{>card-01-reverse}}
      </div>
    </section>
  </body>
</html>
