// Theme colors =================================================================
// Tomorrow light and Monokai (modified)

$color['theme'] = {
  light: {
    background: #ddd,
    base: #000,
    op: #602a7d,
    int: #e75905,
    str: #497d00,
    key: #4271ae,
    var: #000,
    comment: #ccc,
    lowlight: #000,
    highlight: #cb2829
  },
  dark: {
    background: #272822,
    base: #f8f8f8,
    op: #f12056,
    int: #a877ff,
    str: #e5de73,
    key: #70d8ef,
    var: #aae626,
    comment: #777,
    lowlight: #ec7b20,
    highlight: #ec7b20
  }
}
