// -----------------------------------------------------------------------------
// Blockquote
// =============================================================================
// Only really used in one place: "Answer" field.

blockquote {
  padding: 0 0 0 var(--spacing-one);

  .nightMode & {
    color: var(--color-nightmode-text);
    border-color: var(--color-llll);
  }
}
