// -----------------------------------------------------------------------------
// Code (inline and fenced code blocks)
// =============================================================================
// > Colors and themes for syntax highlighting in `/variables`.
//
// We inherit `--color-code-light-*` colours from `print-first-css`, so we need
// to do a few resets to override some styles. That becomes our default theme,
// "Monochrome" black and white.
//
// - Font variations for "Recursive" font
// - Add some whitespace for inline code that overlaps vertically
//
//
// Bugs
// ----
// 1. Each browser treats `rem` units slightly differently
//    - Safari 17.6 / Brave 1.79.126 work with `--spacing-micro` bottom
//    - iOS and iPad Safari need `--spacing-px` bottom (why? fuck knows)


code,
kbd,
samp {
  background: var(--color-ll);
  border-color: transparent;
  font-family: var(--font-family);
  font-variation-settings: 'MONO' 1, 'CASL' 0;  // #! (1)
  padding: 0 var(--spacing-quarter) var(--spacing-micro); // (2)

  .nightMode & {
    background: var(--color-nightmode-background-l);
  }

  &:empty {
    margin: 0;
    padding: 0;
    background: transparent;
    border-color: transparent;
  }
}

pre {
  color: var(--font-color);
  padding: var(--spacing-one);

  .nightMode & {
    background: var(--color-nightmode-background-l);
  }
}
