// -----------------------------------------------------------------------------
// Headings
// =============================================================================
// Inherits `system-ui` from `print-first-css`

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header);
}

h1 {
  font-weight: 700;
  font-size: var(--font-size-pp);
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
}

h2 {
  font-weight: normal;
  font-size: var(--font-size-p);
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
}
