// Theme typography ============================================================
// There are some annoying "bugs" when trying to specify San Francisco
// fonts, also take care when naming them: See issue #12
//
// #1: Inherited from print-first-css:
//     - `--system-ui`, `--system-mono`, `--fallback-mono`
//     - Add your custom font variable and @font-face
//     - https://www.hacksoft.io/blog/using-multiple-font-files-the-right-way
// #2: Customise the font stack!
//     - Use the variables in `../../partials/..`
//     - Override print-first-css files

// #1
@font-face {
  font-family: "DejaVu Sans";
  src: url("_DejaVuSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("_DejaVuSansMono.ttf");
  font-style: normal;
  font-weight: 400;
}

--dejavu: "DejaVu Sans";
--dejavu-mono: "DejaVu Sans Mono";

// #2
--font-family-header: var(--dejavu), var(--system-ui);
--font-family-mono: var(--dejavu-mono), var(--system-mono), var(--fallback-mono);
