// Theme typography ============================================================
// There are some annoying "bugs" when trying to specify San Francisco
// fonts, also take care when naming them: See issue #12
//
// #1: DejaVu and Verdana (small) font stack
//
//     Inherited from print-first-css:
//
//     - `--system-ui`, `--system-mono`, `--fallback-mono`
//
//
//     ⟳ Switch to Verdana as our base font! (works better with DejaVu)
//       Verdana is a wee bit too big for my liking, so try to
//       reduce size for Anki Cards (but not globally): see issue #12
//
//     ⇾ Also change the variables in `../../partials/..`
//     ⟳ Override print-first-css files

--dejavu: "DejaVu Sans";
--dejavu-mono: "DejaVu Sans Mono";

// #1
--font-family: 'Verdana', var(--system-ui);
--font-family-header: var(--dejavu), var(--system-ui);
--font-family-mono: var(--dejavu-mono), var(--system-mono), var(--fallback-mono);
