// {{ Curly brackets }} ========================================================
// A twig template hack: http://bit.ly/1Qq6sLw
//
// # Notes
// - For now, use class="{"
//   + iOS ignores class="{{"

i[class^='{'],
i[class^='}']
  color: inherit

  &::before
    display: inline-block

i[class^='{']::before
  content: '{{'

i[class^='}']::before
  content: '}}'


// Full-width images ===========================================================

img
  max-width: 100%
  height: auto
