// Light theme =================================================================
// See :root variables for color themes

code
  font-family: var(--font-family-mono)
  background: var(--color-code-light-background)
  white-space: pre
  white-space: pre-wrap

  &:empty
    margin: 0
    padding: 0
    background: transparent
    border-color: transparent

code i, code em,
code b, code strong,
code sup, code sub, code var, code small,
code s, code u, code q, code mark
  font-size: inherit
  font-style: inherit
  font-weight: inherit
  text-decoration: none
  background: none

code b, code strong
  color: var(--color-code-light-op)

code i, code em
  color: var(--color-code-light-int)

code s, code u
  color: var(--color-code-light-str)

code span, code sup
  color: var(--color-code-light-key)

code var, code sub
  color: var(--color-code-light-var)

code small
  color: var(--color-code-light-comment)

code q
  color: var(--color-code-light-lowlight)

code mark
  color: var(--color-code-light-highlight)
