// Main ========================================================================
// #1: The main styles to import for base Cardinal and Pygments themes
// #2: Dev mode only (uncomment when working with live demo files)
// #3: Individual card templates

@import './config'
@import 'vendor/*'

// #1
@import '../themes/components/_demo/*'

// #2
@import '../themes/components/_global/*'
