// Theme colors =================================================================
// Card: Material design
// Light: Tomorrow light
// Dark: Monokai (modified)
//
// Theme color variable notes:
//    + $color.theme.x.base: default font-color
//    + $color.theme.x.lowlight: wildcard dark color
//    + $color.theme.x.highlight: wildcard stand-out color

$color['theme'] = {
  card: {
    ppp: #FFEB3B,
    pp: #FBC02D,
    p: #FFF9C4,

    s: #ECEFF1,
    ss: #BDBDBD,
    sss: #757575,
    ssss: #607D8B,
    sssss: #212121
  },
  light: {
    background: #ddd,
    base: #000,
    comment: #ccc,
    error: #93A1A1,
    highlight: #cb2829,
    int: #e75905,
    key: #4271ae,
    lowlight: #000,
    op: #602a7d,
    str: #497d00,
    var: #000
  },
  dark: {
    background: #272822,
    base: #f8f8f8,
    comment: #777,
    error: #960050,
    highlight: #ec7b20,
    int: #a877ff,
    key: #70d8ef,
    lowlight: #ec7b20,
    op: #f12056,
    str: #e5de73,
    var: #aae626
  }
}
