// Typography ==================================================================
// Set defaults to fall back depending on OS

$ios = 'San Francisco'
$android = 'Noto', 'Roboto'
$ios-mono = 'San Francisco Mono'
$android-mono = 'Noto Mono', 'Roboto Mono'

$font.family.base = $ios, $android, sans-serif
$font.family.mono = $ios-mono, $android-mono, monospace
