// Code block ==================================================================
// I've split this into it's own file, as it seems a pretty important chunk
// of CSS that should live on its own. There's a few variations ..
//
// #1: Simple card is a just basic `pre` code block
// #2: Missing! card requires a `{{cloze}}` field, but is essentially the same.
//
// Neither one of these card types really does much with these wrappers.

.gl-CodeBlock {
  pre {
    margin: 0
  }

  pre,
  pre code {
    text-align: left;
    color: var(--color-code-dark-text-color);
    font-family: var(--font-family-mono);
    background: var(--color-code-dark-background);
  }
}


// Missing! `.cloze` tag styles ------------------------------------------------
//
// #1: `.cloze` is an Anki-specific class for cloze deletion types
// #2: Make the `--code-` colours more "punchy" on the `.cloze` background
//     all `.sourceCode` classes are spans (such as `.at`tributes)

.gl-CodeBlock .cloze {
  color: var(--color-code-cloze);
  font-weight: 700;
  background: var(--color-code-cloze-background); // #2
  padding: var(--spacing-quarter);
  border-radius: var(--border-radius);

  > span {
    filter: brightness(65%) contrast(220%);  // #3 #!
  }
}
