<div class="anki-Reverse">
  {{FrontSide}}  {{! Anki only }}

  <section id="answer" class="syntax syntax-reverse syntax-02">
    <header class="syntax-Header">
      <p class="syntax-Header_Code">
        <code>{{{⚑ Syntax (inline code)}}}</code>
      </p>
    </header>
    {{#⚐ Sample (code block or image)}}
      <div class="syntax-Sample">
        {{{⚐ Sample (code block or image)}}}
      </div>
    {{/⚐ Sample (code block or image)}}
    {{#✎ Other notes}}
      <footer class="syntax-Notes">
        {{{✎ Other notes}}}
      </footer>
    {{/✎ Other notes}}
  </section>
</div>
