<div class="anki-Reverse">
  {{FrontSide}}  {{! Anki only }}

  <section id="answer" class="syntax syntax-reverse syntax-01">
    {{#⚐ Sample (code block or image)}}
      <div class="syntax-Sample">
        {{{⚐ Sample (code block or image)}}}
      </div>
    {{/⚐ Sample (code block or image)}}
    <div class="syntax-KeyPoint">
      <div class="syntax-KeyPoint_Notes">
        {{{⚑ Key point notes}}}
      </div>
    </div>
    {{#✎ Other notes}}
      <footer class="syntax-Notes">
        {{{✎ Other notes}}}
      </footer>
    {{/✎ Other notes}}
  </section>
</div>
