// Dark theme ==================================================================
// See :root variables for color themes

pre,
pre code {
  text-align: left;
  color: var(--color-code-dark-base);
  font-family: var(--font-family-mono);
  background: var(--color-code-dark-background);
}

pre code b, pre code strong {
  color: var(--color-code-dark-op);
}

pre code i, pre code em {
  color: var(--color-code-dark-int);
}

pre code s, pre code u {
  color: var(--color-code-dark-str);
}

pre code span, pre code sup {
  color: var(--color-code-dark-key);
}

pre code var, pre code sub {
  color: var(--color-code-dark-var);
}

pre code small {
  color: var(--color-code-dark-comment);
}

pre code q {
  color: var(--color-code-dark-lowlight);
}

pre code mark {
  color: var(--color-code-dark-highlight);
}
