<div id="reverse">
  <section class="gl-Card">
    <header>
      <h1>{{{★ Title}}}</h1>
      {{#☆ Subtitle}}
        <h2>{{{☆ Subtitle}}}</h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p><code>{{{☆ Syntax (inline code)}}}</code></p>
      {{/☆ Syntax (inline code)}}
    </header>
    <figure class="gl-ImageBlock">
      {{{★ Sample (image)}}}
    </figure>

    <div id="answer">
      <div class="gl-Card_KeyPoint">
        <figure class="gl-ImageBlock gl-CodeBlock">
          {{{★ Key point (image or code block)}}}
        </figure>
        <div class="gl-Card_KeyPointNotes">
          {{{★ Key point notes}}}
          <small>{{Tags}}</small>
        </div>
      </div>
      {{#✎ Other notes}}
        <footer>
          {{{✎ Other notes}}}
        </footer>
      {{/✎ Other notes}}
    </div>
  </section>
</div>
