.card {
  background-color: white;
}
.card img {
  max-width: 100%;
  height: auto;
}
body {
  color: black;
  font-family: arial;
  font-size: 14px;
  text-align: center;
}
h1 {
  font-size: 1.5em;
}
p {
  margin: 0.5em;
  padding: 0;
}
.title,
.footer,
.puzzle-hint {
  color: #777;
  font-size: 1em;
  font-style: italic;
}
.box {
  font-size: 1.4em;
}
#front {
  padding-bottom: 1em;
}
.sample-code {
  margin-bottom: 1em;
}
#answer,
hr.divider {
  margin-top: .75em;
  padding-top: 2em;
  border-top: 1px solid #999;
}
hr.divider {
  border: 0;
  height: 0;
  margin: 2em 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid #999;
}
.footer {
  margin: 1em;
}
.footer ul {
  text-align: left;
}
.footer ul li {
  padding-bottom: 1em;
}
pre {
  margin: 0;
  padding: 0;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 1em;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}
code {
  padding: 2px;
  background: #dddddd;
  border-radius: 4px;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 1em;
  font-style: normal;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}
code i,
code em,
code b,
code strong,
code sup,
code sub,
code var,
code small,
code s,
code u,
code q,
code mark {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  line-height: 1.4;
  vertical-align: bottom;
  background: none;
}
pre code,
pre .hljs {
  color: #f8f8f8;
  display: block;
  overflow-x: auto;
  padding: 0.75em 1em;
  background: #272822;
  border-radius: 0;
  text-align: left;
  -webkit-text-size-adjust: none;
}
.box {
  border: 2px solid black;
}
.box .sample-code {
  background: #272822;
  margin-bottom: 0;
}
.box-notes {
  padding: 0.75em 0.5em;
}
code b,
code strong {
  color: #602a7d;
}
code i,
code em {
  color: #e75905;
}
code s,
code u {
  color: #497d00;
}
code span,
code sup {
  color: #4271ae;
}
code var,
code sub {
  color: #000000;
}
code small {
  color: #cccccc;
}
code q {
  color: #000000;
}
code mark {
  color: #cb2829;
}
pre code b,
pre code strong {
  color: #f12056;
}
pre code i,
pre code em {
  color: #a877ff;
}
pre code s,
pre code u {
  color: #e5de73;
}
pre code span,
pre code sup {
  color: #70d8ef;
}
pre code var,
pre code sub {
  color: #aae626;
}
pre code small {
  color: #777777;
}
pre code q {
  color: #ec7b20;
}
pre code mark {
  color: #ec7b20;
}
.hljs,
.hljs-tag,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function .hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f8;
}
.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}
.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #a877ff;
}
.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #aae626;
}
.hljs-link_url {
  font-size: 80%;
}
.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}
.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}
.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f12056;
}
.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.hljs-name,
.css .hljs-attribute {
  color: #70d8ef;
}
.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #f8f8f8;
}
.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e5de73;
}
.hljs-comment,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #777777;
}
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}
