/* Global
   ======================================== */

.card { }
.card-1 { }
.card-2 { }
.card-3 { }
.container { }

.center{
    display:inline-block;
}
.card {
    background-color: white;
}
.card img {
    max-width:100%; height:auto; /* Responsive images */
}


/* Typography 
   ======================================== */

body {
    color: black;
    font-family: arial;
    font-size: 14px;
    text-align: center;
}
h1 {
    font-size: 1.5em;
}
p {
    margin: 0.5em; padding: 0;
}
.title,
.footer,
.puzzle-hint {
    color: #777;
    font-size: 1em;
    font-style: italic;
}
.box {
    font-size:1.4em;
}


/* Front
   ======================================== */

#front {
    padding-bottom: 1em;
}
.sample-code {
    margin-bottom: 1em;
}


/* Reverse
   ======================================== */

#answer,
hr.divider {
    margin-top: .75em;
    padding-top: 2em;
    border-top: 1px solid #999;
}
hr.divider {
    border: 0; height: 0;
    margin: 2em 0; padding: 0; width: 100%;
    border-top: 1px solid #999;
}
.footer {
    margin: 1em;
}
.footer ul {
    text-align: left;
}
.footer ul li {
    padding-bottom: 1em;
}


/* Puzzle
   ======================================== */

.puzzle-title {

}
.puzzle-hint {

}
.puzzle-answer {

}



/* Code blocks
   ======================================== */

pre {
    margin: 0; padding: 0;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 1em;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}       

code {
    padding: 2px;
    background: #ddd;
    border-radius: 4px;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 1em;
    font-style: normal;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}
code i, code em,
code b,code strong,
code sup, code sub, code var, code small,
code s, code u, code q, code mark {
    /* Explicitly remove defaults */
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    line-height: 1.4; vertical-align: bottom;
    background: none;
}

pre code {
    color: #f8f8f8;
    display: block;
    padding: 0.5em 1em;
    background: #272822;
    border-radius: 0;
}
.box {
    border:2px solid black;
}
.box .sample-code {
    background: #272822;
    margin-bottom: 0;
}
.reference .box {
    
}
/*.box-code {
    display: block;
    background: #666;
}*/
.box-img {

}
.box-notes {
    padding: 0.5em 0.5em;
}


/* Inline Code Colors: Tomorrow theme (light, modified)
   ----------------------------------------------------------------- */

code span, code sup { color: #4271ae } /* blue: def, class */
code b, code strong { color: #602a7d } /* purple: if, and, >=, print */
code i, code em     { color: #e75905 } /* orange: int, float */
code s, code u      { color: #497d00 } /* green: string */
code var, code sub  { color: #000    } /* black: variable */
code small          { color: #ccc    } /* grey: comments */

/* Wildcard colors (rarely used) */
code q              { color: #000    } /* black */
code mark           { color: #cb2829 } /* red */


/* Block Code Colors: Monokai theme (dark)
   ----------------------------------------------------------------- */

pre code span, pre code sup { color: #70d8ef } /* blue: def, class */
pre code b, pre code strong { color: #f12056 } /* pink: if, and, >=, print */
pre code i, pre code em     { color: #a877ff } /* purple: int, float */
pre code s, pre code u      { color: #e5de73 } /* yellow: string */
pre code var, pre code sub  { color: #aae626 } /* green: variable */
pre code small              { color: #777    } /* grey: comments */

/* Wildcard colors (rarely used) */
pre code q              { color: #ec7b20 } /* orange */
pre code mark           { color: #ec7b20 } /* orange */