{{! Cloze card ===============================================================

    - Type: What's the answer?
    - Docs: https://github.com/badlydrawnrob/anki/tree/master/source/docs/missing/index.md
    - Key:  ★ Required
            ☆ Optional (recommended)
            ✎ Optional (notes, markdown)

============================================================================= }}

<div id="front" class="anki-Front">
  <section class="missing missing-front">
    <header class="missing-Header">
      <h1 class="missing-Header_Title">
        {{{★ Title}}}
      </h1>
      {{#☆ Subtitle}}
        <h2 class="missing-Header_Subtitle">
          {{{☆ Subtitle}}}
        </h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p class="missing-Header_Code">
          <code>{{{☆ Syntax (inline code)}}}</code>
        </p>
      {{/☆ Syntax (inline code)}}
    </header>
    <div class="missing-KeyPoint">
      <div class="missing-KeyPoint_Code">
        {{{★ Key point (code block or image)}}}  {{! add `cloze:` in Anki }}
      </div>
    </div>
  </section>
</div>
