<div id="reverse">
  <div id="answer">  <!-- Missing! has it's #answer tag here (wraps the whole of reverse) -->
    <section class="gl-Card">
      <header>
        <h1>{{★ Title}}</h1>
        {{#☆ Subtitle}}
          <h2>{{☆ Subtitle}}</h2>
        {{/☆ Subtitle}}
        {{#☆ Syntax (inline code)}}
          <p><code>{{☆ Syntax (inline code)}}</code></p>
        {{/☆ Syntax (inline code)}}
      </header>
      <!-- Missing! has no sample code block here like Simple ... -->
      <div class="gl-Card_KeyPoint">
        <div class="gl-CodeBlock">
          {{cloze:★ Key point (code block)}} <!-- ... it only needs this one! -->
        </div>
        <div class="gl-Card_KeyPointNotes">
          {{★ Key point notes}}
        </div>
      </div>
      {{#✎ Other notes}}
        <footer>{{✎ Other notes}}</footer>
      {{/✎ Other notes}}
    </section>
  </div>
</div>
