.syntax
  border-radius: 10px

  &-front
    margin-top: $spacing.base

  &-reverse
    // pass

.syntax-Header
  position: relative
  display: flex
  flex-wrap: wrap
  text-align: center
  justify-content: space-evenly
  align-items: baseline
  background: $color.theme.card.s
  border: $spacing.px solid $color.theme.card.s
  border-bottom: $spacing.px solid $color.b
  border-top-left-radius: $border.radius
  border-top-right-radius: $border.radius

.syntax-Header_Title
  flex: 0 0 100%
  margin: 0 0 $spacing.one
  padding: $spacing.half
  font-weight: 700
  font-size: $font.size.p
  line-height: $line.height.base
  text-transform: none
  letter-spacing: normal
  border-bottom: $spacing.px solid $color.b
  background: $color.l

.syntax-Header_Syntax
  margin: 0 0 $spacing.half
  padding: $spacing.half
  font-weight: normal
  font-size: $font.size.base
  line-height: $line.height.base
  text-transform: none
  letter-spacing: normal
  background: $color.theme.card.s
  border-top-left-radius: $border.radius
  border-top-right-radius: $border.radius

.syntax-Header_Code
  margin: 0 0 $spacing.half 0
  padding: $spacing.half

.syntax-Sample
  // pass

.syntax-KeyPoint_Code
  // pass

.syntax-KeyPoint_Notes
  margin-bottom: $spacing.base
  padding: $spacing.base $spacing.one
  background: $color.theme.card.s

  ul > li,
  ol > li
    margin-left: 1rem

.syntax-Notes
  margin-bottom: $spacing.base
  color: $color.theme.card.sss
  font-size: $font.size.m
  font-style: italic
  line-height: $line.height.m
