<!-- Master card
     ===========

    This is a demo file only. See `themes/cards/missing/*.mustache` for
    card type templates to use in Anki. Our demo requires `{{{ ... }}}`
    triple brackets which Anki does not support!

-->

<div id="front">
  <section id="CARD-TYPE" class="gl-Card">
    <header class="gl-Card_Header">
      <h1>{{{★ Title}}}</h1>
      {{#☆ Subtitle}}
        <h2>{{{☆ Subtitle}}}</h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p><code>{{{☆ Syntax (inline code)}}}</code></p>
      {{/☆ Syntax (inline code)}}
    </header>
    <div class="gl-CodeBlock">
      {{{★ Sample (code block)}}}
    </div>
  </section>
</div>
