<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cards</title>
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body class="test-Anki nightmode">
    <section class="test-AnkiCard">
      <div class="test-AnkiCard-Front">
        {{>master-front}}
        <a class="test-AnkiCard-Button" href="#answer">See answer</a>
      </div>
      <div class="test-AnkiCard-Reverse">
        {{>master-reverse}}
      </div>
    </section>
  </body>
</html>
