<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cards</title>
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body id="demo">
  {{! <body id="demo" class="nightmode"> }}
    <section class="wrapper">
      <div class="top">
        {{>missing-front}}
        <a class="button" href="#answer">See answer</a>
      </div>
      <div class="bottom">
        {{>missing-reverse}}
      </div>
    </section>
  </body>
</html>
