<div id="answer" class="anki-Reverse">
  <section class="missing missing-reverse">
    <header class="missing-Header">
      <h1 class="missing-Header_Title">
        {{{★ Title}}}
      </h1>
      {{#☆ Subtitle}}
        <h2 class="missing-Header_Subtitle">
          {{{☆ Subtitle}}}
        </h2>
      {{/☆ Subtitle}}
      {{#☆ Syntax (inline code)}}
        <p class="missing-Header_Code">
          <code>{{{☆ Syntax (inline code)}}}</code>
        </p>
      {{/☆ Syntax (inline code)}}
    </header>
    <div class="missing-KeyPoint">
      <div class="missing-KeyPoint_Code">
        {{{★ Key point (code block) — cloze reverse}}}  <!-- add `{{cloze:text}}` in Anki -->
      </div>
      <div class="missing-KeyPoint_Notes">
        {{{★ Key point notes}}}
      </div>
    </div>
    {{#✎ Other notes}}
      <footer class="missing-Notes">
        {{{✎ Other notes}}}
      </footer>
    {{/✎ Other notes}}
  </section>
</div>
