{{! Simple theme ===============================================================

    - Card: What's the answer?
    - Info: Question about the code example
    - Key:  ★ Required
      ☆ Optional (recommended)
      ✎ Optional (Notes)

============================================================================= }}

<div id="front" class="container card-1 pb">
  <p class="title">{{{★ Title}}}</p>
  <h1 class="syntax">
    {{^☆ Syntax}}Syntax{{/☆ Syntax}}
    {{#☆ Syntax}}{{{☆ Syntax}}}{{/☆ Syntax}}
    <code>{{{☆ Syntax (inline code)}}}</code>
  </h1>
  <div class="sample-code mb">{{{☆ Sample (code block or image)}}}</div>
</div>
