{{! Simple theme ===============================================================

    - Card: What's the answer?
    - Info: https://github.com/badlydrawnrob/anki/tree/master/source/docs/simple.md
    - Key:  ★ Required
            ☆ Optional (recommended)
            ✎ Optional (notes, markdown)

============================================================================= }}

<div id="front" class="anki-Front">
  <section class="simple simple-front">
    <header class="simple-Header">
      <h1 class="simple-Header_Title">
        ★ {{{★ Title}}}
      </h1>
      {{#☆ Syntax}}
        <h2 class="simple-Header_Syntax">
          {{{☆ Syntax}}}
        </h2>
      {{/☆ Syntax}}
      {{#☆ Syntax (inline code)}}
        <p class="simple-Header_Code">
          <code>{{{☆ Syntax (inline code)}}}</code>
        </p>
      {{/☆ Syntax (inline code)}}
    </header>
    <div class="simple-Sample">
      {{{★ Sample (code block or image)}}}
    </div>
  </section>
</div>
