<div class="anki-Reverse">
  {{FrontSide}}  <!-- Anki only -->

  <section id="answer" class="simple simple-reverse">
    <div class="simple-KeyPoint">
      <div class="simple-KeyPoint_Code">
        {{★ Key point (code block)}}
      </div>
      <div class="simple-KeyPoint_Notes">
        {{★ Key point notes}}
      </div>
    </div>
    {{#✎ Other notes}}
      <footer class="simple-Notes">
        {{✎ Other notes}}
      </footer>
    {{/✎ Other notes}}
  </section>
</div>
