.card-Simple
  border-radius: 10px

.card-SimpleHeader
  position: relative
  display: flex
  flex-wrap: wrap
  background: $color.theme.card.s
  border: $spacing.px solid $color.theme.card.s
  border-bottom: $spacing.px solid $color.b
  border-top-left-radius: $border.radius
  border-top-right-radius: $border.radius

.card-SimpleHeader_Title
  flex: 0 0 60%
  min-height: $spacing.increment
  margin: 0 0 $spacing.one
  padding: $spacing.half
  font-weight: 700
  font-size: $font.size.p
  line-height: $line.height.base
  text-transform: none
  letter-spacing: normal
  border-bottom: $spacing.px solid $color.b
  background: $color.l

.card-SimpleHeader_Syntax
  flex: 0 0 40%
  order: -1
  height: $spacing.increment
  margin: 0 0 $spacing.one
  padding: $spacing.half
  font-weight: normal
  font-size: $font.size.base
  line-height: $line.height.base
  text-transform: none
  letter-spacing: normal
  background: $color.theme.card.s
  border-bottom: $spacing.px solid $color.b
  border-top-left-radius: $border.radius
  border-top-right-radius: $border.radius

.card-SimpleHeader_Code
  margin: 0 auto $spacing.one

.card-Simple_Sample
  // pass

.card-Simple_KeyPoint
  // pass

.card-Simple_KeyPointNotes
  margin-bottom: $spacing.base
  padding: $spacing.base $spacing.half
  background: $color.theme.card.s

.card-Simple_OtherNotes
  color: $color.theme.card.sss
  font-style: italic
