{{! To compile =================================================================
    1. cd into this folder on your terminal
    2. Enter the following:
       ```
       mustache -p simple-01-front.mustache -p simple-01-reverse.mustache simple.json simple.mustache > ../../../../build/themes/cards/simple/index.html
       ```
    3. View in your browser!
============================================================================= }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cards</title>
    <link rel="stylesheet" href="../../assets/css/main.css">
  </head>
  <body class="test-Anki">
    <section class="test-AnkiCard">
      <div class="test-AnkiCard-Front">
        {{>simple-01-front}}
        <a class="test-AnkiCard-Button" href="#answer">See answer</a>
      </div>
      <div class="test-AnkiCard-Reverse">
        {{>simple-01-front}}
        {{>simple-01-reverse}}
      </div>
    </section>
  </body>
</html>
