{{! Simple Theme ===============================================================

   - Card: What does this syntax do?
   - Info: Drill yourself on syntax
           ✔ What does this syntax do?
             required to generate card.
   - Key:  ★ Required
           ☆ Optional (recommended)
           ✄ Optional (explicitly hide fields)
           ♻ Optional (explicitly show reference fields)
           ✎ Optional (Notes)

============================================================================= }}

{{#✔ What does this syntax do?}}
<div id="front" class="anki-Front">
  <div class="container card-2 pb">
    <h1 class="syntax">
      {{^☆ Syntax}}Syntax{{/☆ Syntax}}
      {{#☆ Syntax}}{{{☆ Syntax}}}{{/☆ Syntax}}

      <!-- Explicitly hide inline code -->
      {{^----✄-- Hide on front: Syntax (inline code)}}
        <code>{{{☆ Syntax (inline code)}}}</code>
      {{/----✄-- Hide on front: Syntax (inline code)}}
    </h1>
    {{^----✄-- Hide on front: Sample (code block or image)}}
      <div class="sample-code mb">
        {{{☆ Sample (code block or image)}}}
      </div>
    {{/----✄-- Hide on front: Sample (code block or image)}}
    <p class="title">{{✔ What does this syntax do?}}</p>
  </div>
</div>
{{/✔ What does this syntax do?}}
