{{FrontSide}}  {{! Anki only }}

<section id="answer" class="card-Simple">
  <div class="card-Simple_KeyPoint">
    {{{★ Key point (code block or image)}}}
  </div>
  <div class="card-Simple_KeyPointNotes">
    {{{★ Key point notes}}}
  </div>
  {{#✎ Other notes}}
    <footer class="card-Simple_OtherNotes">
      {{{✎ Other notes}}}
    </footer>
  {{/✎ Other notes}}
</section>
