<div class="anki-Reverse">
  {{FrontSide}}  {{! Anki only }}

  <section id="answer" class="card card-reverse">
    <div class="card-KeyPoint">
      <div class="card-KeyPoint_Code">
        {{{★ Key point (code block or image)}}}
      </div>
      <div class="card-KeyPoint_Notes">
        {{{★ Key point notes}}}
      </div>
    </div>
    {{#✎ Other notes}}
      <footer class="card-Notes">
        {{{✎ Other notes}}}
      </footer>
    {{/✎ Other notes}}
  </section>
</div>
