<div class="anki-Reverse">
  {{FrontSide}}  {{! Anki only }}

  <div id="answer" class="container card-2 pt+">
    <div class="box-code">{{★ Key point (code block or image)}}</div>
    <div class="box-notes">{{★ Key point notes}}</div>
    <div class="reference">
      {{#»»♻«« Show as reference: Syntax (inline code)}}
        <div class="reference-syntax pt-">
          <h4 class="mb-">Original syntax:
            <code>{{☆ Syntax (inline code)}}</code>
          </h4>
        </div>
      {{/»»♻«« Show as reference: Syntax (inline code)}}
      {{#»»♻«« Show as reference: Sample (code block or image)}}
        <div class="reference-sample-code mb pt-">
          <h4 class="mb-">Original sample code:</h4>
          {{☆ Sample (code block or image)}}
        </div>
      {{/»»♻«« Show as reference: Sample (code block or image)}}
    </div>
    <div class="footer mt pb">
      {{#✎ Other notes}}{{✎ Other notes}}{{/✎ Other notes}}
    </div>
  </div>
</div>
