// Config ======================================================================
// Sets up the `print-first-css` framework and variables: https://bit.ly/2TpdSaL

@import '../../node_modules/print-first-css/source/stylus/print-first.styl'


// Modules =====================================================================
// Next, let's set our own variables!

@require 'anki-modules/root.styl'


// Partials ====================================================================
// Extends `print-first-css`

@require 'anki-partials/*'
